*~
*.swp
*.swo
.DS_Store
*~
*#
.#*
*.pkl
__pycache__/
*.py[cod]
*$py.class
rsync*
afni_module/afni
rtpspy/FastSurfer
tests/watch/*
tests/work/*
tests/dicom*
log_*
*.log
*.error
log/
rtpspy/FastSurfer
*.log
*.npy
