*~
*.swp
*.swo
.DS_Store
*~
*#
.#*
*.pkl
__pycache__/
*.py[cod]
*$py.class
rsync*
afni_module/afni
rtpspy/FastSurfer
tests/watch/*
tests/work/*
tests/dicom*
log_*
*.log
*.error
log/
*.log
*.npy
.vscode
*.1D
rtpspy/lib_RetroTS/*
tests/work/rtp_ROI_signal.csv
RTPSpy.egg-info
afni_module/libmri.a
afni_module/librtp.so
build/*
